/* Table of Contents
----------------------------------

0- Global CSS
1- Heading CSS
2- Button CSS
3- Header Area CSS
4- Home Area CSS
5- About Area CSS
6- Qualification Area CSS 
7- Services Area CSS
8- Portfolio Area CSS
9- Testimonials Area CSS
10- Blog Area CSS
11- Contact Area CSS
12- Footer Area CSS
13- Scroll-Top Area CSS

*/


/*--------------------- 0- Global CSS (Start) ---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --purple: #BC8CF2;
    --black: #000000;
    --white: #F7F5F2;
    --grey: #DFDFDE;
}

*{
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* text-transform: capitalize; */
    border: none;
    outline: none;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
  	        transition: all 0.2s linear;
}

*::selection{
    color: var(--white);
    background-color: var(--purple);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body{
    background-color: var(--black);
}

section{
    padding: 2rem 5%;
}

::-webkit-scrollbar{
    width: 0.8rem;
}

::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    background-color: var(--purple);
}

::-webkit-scrollbar-track{
    background-color: var(--black);
}

.swiper-pagination-bullet{
    height: 1rem;
    width: 1rem;
    border-radius: 50rem;
    background-color: var(--grey);
}

.swiper-pagination-bullet-active{
    width: 3rem;
    background: var(--purple);
}

/*--------------------- 0- Global CSS (End) ---------------------*/



/*--------------------- 1- Heading CSS (Start) ---------------------*/
.heading{
    margin-bottom: 2rem;
}

.heading h2{
    text-align: center;
    padding-bottom: 2rem;
    color:var(--purple);
    font-size: 4rem;
}

.heading h2 span{
    position: relative;
    z-index: 0;
    color: var(--white);
}

.heading h2 span::before{
    content: '';
    position: absolute;
    bottom: -0.5rem; left: 0;
    z-index: -1;
    background: var(--purple);
    height: 0.2rem;
    width: 80%;
    margin-left: 10%;
}

/*--------------------- 1- Heading CSS (End) ---------------------*/



/*--------------------- 2- Button CSS (Start) ---------------------*/
.btn{
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: var(--purple);
    background-color: transparent;
    border: 0.2rem solid var(--purple);
}

.btn i{
    padding-left: 1rem;
}

.btn:hover{
    color: var(--white);
    background-color: var(--purple);
    cursor: pointer;
}

/*--------------------- 2- Button CSS (End) ---------------------*/



/*--------------------- 3- Header Area CSS (Start) ---------------------*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
    z-index: 999;
}

header.sticky{
    border-bottom: 0.1rem solid var(--grey);
    background: rgba(0, 0, 0, 0.8);
}

header .logo h2{
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--purple);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

header .navbar a{
    color: var(--white);
    font-size: 1.8rem;
    margin-left: 1rem;
}

header .navbar a:hover,
header .navbar a.active{
    color: var(--purple);
}

header #menu-btn{
    font-size: 3rem;
    color: var(--white);
    cursor: pointer;
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
    display: none;
}

header .fa-times{
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

header #menu-btn:hover{
    color: var(--purple);
}

/*--------------------- 3- Header Area CSS (End) ---------------------*/



/*--------------------- 4- Home Area CSS (Start) ---------------------*/
.home{
    padding: 0rem 5%;
    background-color: var(--black);
    min-height: 100vh;
}

.home .box-container{
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4rem;
}

.home .image{
    text-align: center;
    -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;

}

.home .image img{
    height: 40rem;
    width: 40rem;
    border-radius: 50% 50% 50% 50% / 30% 30% 70% 70% ;
    object-fit:cover;
}

.home .content{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
        flex: 1 1 40rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    margin-top: 7rem;
}

.home .content h2{
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--purple);
}

.home .content h1{
    font-size: 4rem;
    color: var(--white);
    padding: 1rem 0;
    text-transform: none;
}

.home .content h1 span{
    color: var(--purple);

}

.home .content p{
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--white);
    padding-bottom: 2rem;
    line-height: 1.5;
}
/*--------------------- 4- Home Area CSS (End) ---------------------*/



/*--------------------- 5- About Area CSS (Start) ---------------------*/
.about .box-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 0;
}

.about .image{
    width: 32rem;
    text-align: center;
}

.about .image img{
    width: 100%;
    border: 1rem solid var(--purple);
}

.about .content{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 55rem;
        flex: 1 1 55rem;
}

.about .content h2{
    font-size: 3rem;
    color: var(--white);
    padding-bottom: 1rem;
}

.about .content > p{
    font-size: 1.6rem;
    color: var(--grey);
    line-height: 1.6;
    padding-bottom: 1rem;
}

.about .content .about-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1rem;
}

.about .content .about-info .info{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 15rem;
        flex: 1 1 15rem;
}

.about .content .about-info .info h4{
    font-size: 1.6rem;
    color: var(--white);
    padding-bottom: 1rem;
}

.about .content .about-info .info span{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--grey);
}

.about .content .about-info .info .btn{
    margin-top: 1rem;
}

.counting{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 35rem;
        flex: 1 1 35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
}

.counting .box{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 18rem;
        flex: 1 1 18rem;
    text-align: center;
    background-color: #222;
    padding: 2rem;
    width: 100px;
    height: 100px;
}

.counting .box .count{
    font-size: 3.5rem;
    color: var(--purple);
    padding-bottom: 0.5rem;
}

.counting .box h3{
    font-size: 1.8rem;
    color: var(--white);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.skill-container{
    padding: 2rem 0;
}

.skills{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.skill-item{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30rem;
        flex: 1 1 30rem;
    margin-right: 1.5rem;
}

.skill-item .box{
    padding:1rem 0;
}

 .skill-item .box h3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-between;
    padding:.7rem 0;
    font-size: 1.7rem;
    color: var(--white);
    font-weight: 400;
}

 .skill-item .box .progress-bar{
    width:100%;
    background:#222;
    overflow:hidden;
    height:1rem;
    border-radius: 50rem;
}

 .skill-item .box .progress-bar span{
    display:block;
    height:100%;
    background: var(--purple);
}

 .skill-item.item1 .box:nth-child(1) .progress-bar span{
    width:70%;
}

 .skill-item.item1 .box:nth-child(2) .progress-bar span{
    width:90%;
}

 .skill-item.item1 .box:nth-child(3) .progress-bar span{
    width:60%;
}

.skill-item.item2 .box:nth-child(1) .progress-bar span{
    width:75%;
}

 .skill-item.item2 .box:nth-child(2) .progress-bar span{
    width:65%;
}

 .skill-item.item2 .box:nth-child(3) .progress-bar span{
    width:10%;
}

/*--------------------- 5- About Area CSS (End) ---------------------*/



/*--------------------- 6- Qualification Area CSS (Start) ---------------------*/
.qualification .box-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4rem;
}

.education, .experience{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
        flex: 1 1 40rem;
}

.experience-item{
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
        flex: 1 1 40rem;
    padding: 0 3rem 2rem 3rem;
    border-left: 0.2rem solid var(--purple);
    margin-left: 2rem;
}

.experience-item i{
    position: absolute;
    top: 0; 
    left: -2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:var(--white);
    background:var(--purple);
}

.experience-item .content{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    border-left: 2rem;
}

.experience-item span{
    background: #222;
    color: var(--white);
    padding: 0.5rem 1.5rem;
    font-size: 1.8rem;
    border-radius: 50rem;
}

.experience-item h3{
    font-size: 2.5rem;
    color: var(--white);
    padding: 2rem 0;
}

.experience-item p{
    color: var(--grey);
    font-size: 1.6rem;
    line-height: 2.5rem;
}

/*--------------------- 6- Qualification Area CSS (End) ---------------------*/

/*--------------------- Pop - up (Start) ---------------------*/

.popup-box{
    position: fixed;
    height:100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.popup-box.open{
    visibility: visible;
    opacity: 1;
}

.popup-box .popup-content{
    background-color: #0b0b0b;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    /* box-shadow: -3px -3px 7px #efffff73, 3px 3px 5px rgba(94, 104, 121, .288); */
    border: 0.2rem solid var(--purple);
}

.popup-box .popup-header{
    padding: 15px;
    border-bottom: 1px solid #dddddd;
}

.popup-box .popup-header h3{
   margin: 0;
   color: var(--purple);
   font-size: 20px;
}

.popup-box .popup-header .popup-close-icon{
    position: absolute;
    height: 30px;
    width: 30px;
    text-align: center;
    color: var(--purple);
    font-size: 28px;
    line-height: 30 px;
    right: 0;
    top: 0;
    cursor: pointer;
    
    
 }
 
 .popup-box .popup-footer .popup-close-btn{
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: var(--purple);
    background-color: transparent;
    border: 0.2rem solid var(--purple);
    cursor: pointer;
 }

.popup-box .popup-body {
    padding: 15px;
    max-height: 300px;
    overflow-y: auto;
 }
 .popup-box .popup-body p{
    font-size: 16px;
    color: var(--white);
    margin: 0 0 15px;
 }
  
.popup-box .popup-footer {
    padding: 15px;
    border-bottom: 1px solid #dddddd;
    text-align: right;
    border-radius: 5px;
}

.popup-box .popup-footer .btn{
    padding: 8 15px;
    border-bottom:1px solid #555555;
    color: #555555;
    font-size: 16px;
    background-color: transparent;

}

.popup-box .popup-footer .btn:focus{
    outline: none;

}

/* .experience .experience-item .content .read-more-content {
    display: none
} */
/*--------------------- Pop - up (End) ---------------------*/

/*--------------------- 7- Services Area CSS (Start) ---------------------*/
.service .box-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.service-item{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33rem;
        flex: 1 1 33rem;
    background-color: var(--black);
    padding: 4rem 3rem;
    text-align: center;
    border: 0.1rem solid rgba(255,255, 255, 0.3);
    border-radius: 0.5rem;
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

.service-item:hover{
    background-color: var(--purple);
}

.service-item i{
    color: var(--white);
    font-size: 4rem;
}

.service-item h3{
    font-size: 2rem;
    color: var(--white);
    padding: 1.5rem 0;
}

.service-item p{
    font-size: 1.6rem;
    color: var(--grey);
    line-height: 1.6;
}

.service-item:hover p{
    color: var(--white);
}

/*--------------------- 7- Services Area CSS (End) ---------------------*/



/*--------------------- 8- Portfolio Area CSS (Start) ---------------------*/
.controls{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 2rem;
}

.controls .button{
    cursor: pointer;
    margin: 0.5rem;
}

.controls .button.active{
    cursor: pointer;
    background-color: var(--purple);
    color: var(--white);
}

.portfolio .box-container{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    gap: 0.5rem;
    padding: 2rem 0; 
}

.portfolio-item{
    border-radius: 0.5rem;
    height: 25rem;
    overflow: hidden;
    position: relative;
}

.portfolio-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio-item .content{
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: scale(0);
            transform: scale(0);
}

.portfolio-item .content h4{
    font-size: 2rem;
    font-weight: bold;
    color: var(--purple);
    transform-origin: top;
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
    opacity: 0;
    padding-bottom: 1rem;
    -webkit-transition: all 0.4s linear;
       -moz-transition: all 0.4s linear;
         -o-transition: all 0.4s linear;
            transition: all 0.4s linear;
}

.portfolio-item .content p{
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--white);
    transform-origin: top;
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
    opacity: 0;
    -webkit-transition: all 0.4s linear;
       -moz-transition: all 0.4s linear;
         -o-transition: all 0.4s linear;
            transition: all 0.4s linear;
}

.portfolio-item .content .view-btn{
    font-size: 2rem;
    color: var(--purple);
    transform-origin: top;
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
    opacity: 0;
    -webkit-transition: all 0.4s linear;
       -moz-transition: all 0.4s linear;
         -o-transition: all 0.4s linear;
            transition: all 0.4s linear;
    border-radius: 5rem;
    margin-top: 1.5rem;
}

.portfolio-item:hover .content{
    -webkit-transform: scale(1);
            transform: scale(1);
}

.portfolio-item:hover .content h4{
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}

.portfolio-item:hover .content p{
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}

.portfolio-item:hover .content .view-btn{
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}

.portfolio-item:hover img{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

/*CSS3 Animation Effects for Magnific Popup*/

/* start state */
.mfp-newspaper  .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out; 
            transition: all 0.2s ease-in-out; 

    -webkit-transform: scale(0) rotate(500deg);
            transform: scale(0) rotate(500deg);
}
.mfp-newspaper.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out; 
            transition: all 0.2s ease-in-out; 
}
  
/* animate in */
.mfp-newspaper.mfp-ready .mfp-with-anim {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
}
.mfp-newspaper.mfp-ready.mfp-bg {
    opacity: 0.8;
}
  
/* animate out */
.mfp-newspaper.mfp-removing .mfp-with-anim {
    -webkit-transform: scale(0) rotate(500deg);
            transform: scale(0) rotate(500deg);
    opacity: 0;
}
.mfp-newspaper.mfp-removing.mfp-bg {
    opacity: 0;
}


/*--------------------- 8- Portfolio Area CSS (End) ---------------------*/



/*--------------------- 9- Testimonials Area CSS (Start) ---------------------*/
.testimonial-slider{
    position: relative;
    padding-bottom: 4rem;
    overflow: hidden;
}

.testi-item{
    text-align: center;
    border: 0.1rem solid var(--grey);
    border-radius: 0.5rem;
    padding: 4rem 2rem;
}

.testi-item:hover{
    border-color: var(--purple);
}

.testi-item img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 0.5rem solid var(--white);
}

.testi-item .fa-quote-left{
    display: block;
    font-size: 3rem;
    color: var(--white);
    margin: 1rem 0;
}

.testi-item p{
    color: var(--grey);
    font-size: 1.5rem;
    line-height: 1.5;
}

.testi-item .intro{
    margin: 1rem 0;
}

.testi-item .intro h3{
    font-size: 2rem;
    color: var(--white);
    padding-bottom: 0.5rem;
}

.testi-item .intro h5{
    color: var(--purple);
    font-size: 1.4rem;
    font-weight: 400;
}

/*--------------------- 9- Testimonials Area CSS (End) ---------------------*/



/*--------------------- 10- Blog Area CSS (Start) ---------------------*/
.blog-slider{
    position: relative;
    padding-bottom: 4rem;
    overflow: hidden;
}

.blog-item{
    background-color: #222;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
}

.blog-item .image{
    height: 25rem;
    overflow: hidden;
}

.blog-item:hover .image img{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

.blog-item .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blog-item .content{
    padding: 2rem 1rem;
    height: 200px;
    width: 400px;
}

.blog-item .content .intro{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 0.2rem solid var(--grey);
    padding: 1rem 0;
    margin-bottom: 1.5rem;
}

.blog-item .content .intro h5{
    font-size: 1.5rem;
}

.blog-item .content .intro h5 i{
    color: var(--purple);
    padding-right: 0.5rem;
}

.blog-item .content .intro h5 span{
    color: var(--grey);
}

.blog-item .content .main-heading{
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
}

.blog-item p{
    padding: 1rem 0;
    font-size: 1.6rem;
    color: var(--grey);
}

.blog-item .btn{
    margin-top: 1rem;
}

/*--------------------- 10- Blog Area CSS (End) ---------------------*/



/*--------------------- 11- Contact Area CSS (Start) ---------------------*/
.contact .alert{
    font-size: 2rem;
    color: var(--purple);
    border-radius: 0.5rem;
    padding-left: 1rem;
}

.contact .box-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact-info{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
        flex: 1 1 42rem;
}

.contact-info h3{
    font-size: 3rem;
    color: var(--white);
}

.contact-info > p{
    font-size: 1.6rem;
    color: var(--grey);
    padding: 0.5rem 0;
}

.contact-info .info-item{
    padding: 1rem 0;
}

.contact-info .info-item .gmail,
.contact-info .info-item .linkedin,
.contact-info .info-item .github{
    text-transform: none;
}

.contact-info .info-item h4{
    font-size: 1.8rem;
    color: var(--white);
}

.contact-info .info-item .detail{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-info .info-item .detail .fas,
.contact-info .info-item .detail .fab{
    border-radius: 50%;
    color: var(--purple);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.5rem;
}

.contact-info .info-item .detail p{
    font-size: 1.6rem;
    color: var(--grey);
    line-height: 1.6;
    padding-left: 1rem;
}

.contact-form{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
        flex: 1 1 42rem;
}

.contact-form .box{
    width: 100%;
    text-transform: none;
    color: var(--grey);
    font-size: 1.6rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin: 0.5rem 0;
    background-color: #222;
}

.contact-form .box:focus{
    border-color: var(--white);
}

.contact-form .box::placeholder{
    color: var(--grey);
}

.contact-form textarea{
    height: 15rem;
    resize: none;
}

.contact-form .btn{
    margin-top: 1rem;
}

/*--------------------- 11- Contact Area CSS (End) ---------------------*/



/*--------------------- 12- Footer Area CSS (Start) ---------------------*/
footer{
    background-color: var(--purple);
    padding: 2rem 0;
    text-align: center;
}

footer .social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2rem 0;
}

footer .social .fab{
    background-color: var(--black);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    color: var(--white);
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0.5rem;
}

footer .social .fab:hover{
    color: var(--black);
    background-color: var(--white);
}

footer .content p{
    font-size: 2rem;
    color: var(--white);
}

footer .content p span{
    color: var(--black);
}

/*--------------------- 12- Footer Area CSS (End) ---------------------*/



/*--------------------- 13- Scroll-Top (Start) ---------------------*/
.scroll-top{
    position: fixed;
    bottom: 1rem;
    right:1rem;
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    font-weight:lighter;
    background: var(--black);
    color: var(--white);
    border: 0.2rem solid var(--white);
    border-radius: 50%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .scroll-top:hover{
    background: var(--white);
    color:var(--black);
  }

/*--------------------- 13- Scroll-Top (End) ---------------------*/